@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #1e2228;
  --border: #d0d9e1;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0c1017;
    --foreground: #f1f6fd;
    --border: #3c454d;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  @apply flex justify-center;
}

p,
a {
  @apply tracking-wide;
}

/* globals.css */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
